
body {
    width: 900px;
}

* {
    box-sizing: border-box;
  }

.heading {
    font-family: Times;
    font-size: 65px;
    color: #9006f9;
    position: absolute;
    left: 135px;
}
.center {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    left: 125px;
    top: 20px;
    bottom: 20px;
}
.start {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 300px;
    font-size: 30px;
    top: 400px;
    text-decoration: none;
}
.start:hover {
    background-color: aqua
}
.startOver {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 300px;
    font-size: 30px;
    top: 400px;
    text-decoration: none;
}
.startOver:hover{
    background-color: rgb(247, 197, 137)
}

p {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 147px;
    top: 145px;
}

#quest2 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 278px;
    top: 247px;
    text-align: center;
}
#quest3 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 174px;
    top: 355px;
    text-align: center;
}
#quest4 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 458px;
}
.select1 { 
    width: 78px;
    height: 31px;
    position: absolute;
    left: 183px;
    font-size: 15px;
    top: 195px;

}
.select2 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 314px;
    font-size: 15px;
    top: 195px;
}
.select3 { 
    width: 128px;
    height: 31px;
    position: absolute;
    left: 477px;
    font-size: 15px;
    top: 195px;
}
.select4 { 
    width: 139px;
    height: 31px;
    position: absolute;
    left: 147px;
    font-size: 15px;
    top: 300px;

}
.select5 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 346px;
    font-size: 15px;
    top: 300px;
}
.select6 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 522px;
    font-size: 15px;
    top: 300px;
}
.select7 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 163px;
    font-size: 15px;
    top: 407px;

}
.select8 { 
    width: 139px;
    height: 31px;
    position: absolute;
    left: 328px;
    font-size: 15px;
    top: 407px;
}
.select9 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 522px;
    font-size: 15px;
    top: 407px;
}
.select10 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 146px;
    font-size: 15px;
    top: 551px;

}
.select11 { 
    width: 165px;
    height: 31px;
    position: absolute;
    left: 321px;
    font-size: 15px;
    top: 551px;
}
.select12 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 544px;
    font-size: 15px;
    top: 551px;
}
h3{
    font-family: time;
    font-size: 30px;
    position: absolute;
    left: 214px;
    top: 82px;
    color: #1b1e21;
}
h4{
    font-family: time;
    font-size: 30px;
    position: absolute;
    left: 450px;
    top: 87px;
    color: #1b1e21;
}

#answer1 {
    font-family: Helvetica;
    font-size: 35px;
    position: absolute;
    left: 335px;
    top: 150px;
    color: #1b1e21;
    text-align: center;
}

#answer2 {
    font-family: Helvetica;
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 200px;
    color: #1b1e21;
}
#allDone {
    font-family: times;
    font-size: 40px;
    position: absolute;
    left: 221px;
    top: 71px;
    color: #f13a8c;
}
#correct {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 200px;
    color: #1b1e21;
}

#incorrect {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 250px;
    color: #1b1e21;
}
#missed {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 300px;
    color: #1b1e21;
}
#total{
    font-family: Helvetica;
    font-size: 30px;
    position: absolute;
    left: 276px;
    top: 370px;
    color: #1b1e21;
}

#toggle1 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle2 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}

#toggle3 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle4 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle5 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle6 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle7 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle8 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
img{
    position: absolute;
    left: 10px;
}
.Score {
    width: 165px;
    height: 55px;
    position: absolute;
    left: 46px;
    font-size: 25px;
    font-weight: bold;
    top: 604px;
    text-decoration: none;
    font-family: times;
}
}
.Score:hover{
    background-color: rgb(247, 197, 137)
}
#toggle9 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 88px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none;