
body {
    width: 100%;
    background-image: url(../images/take1_movie.jpg);
    background-repeat: no-repeat;
    align-content: center;
    

}

* {
    box-sizing: border-box;
  }

.heading {
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    color: #0658f9;
    position: relative;
    left: 110px;
}
#Countdown {
    font-family: Times;
    font-size: 65px;
    color: #9006f9;
    position: absolute;
    left: 50px;
    top: 120px;
}
.center {
    width: 800px;
    height: 670px;
    position: relative;
    background-color: #c3faba;
    left: -3px;
    top: 109px;
    border-radius: 40px;
}
.start {
    width: 200px;
    height: 50px;
    position: relative;
    left: 300px;
    font-size: 30px;
    top: 460px;
    text-decoration: none;
    background-color: #0280d4;
    border-radius: 30px;
    color: #ffffff;
}
.start:hover {
    background-color: aqua
}
.startOver {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 300px;
    font-size: 30px;
    top: 400px;
    text-decoration: none;
}
.startOver:hover{
    background-color: rgb(247, 197, 137)
}
#togBox{font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: -36px;
    top: 42px;
    text-align: center;
}
p {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 138px;
    top: 145px;
    text-align: center;
}

#quest2 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 278px;
    top: 247px;
    text-align: center;
}
#quest3 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 174px;
    top: 355px;
    text-align: center;
}
#quest4 {
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 458px;
}
.select1 { 
    width: 78px;
    height: 31px;
    position: absolute;
    left: 183px;
    font-size: 15px;
    top: 195px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
    
}
.visible {
        visibility: visible;
}
.invisible {
    visibility: hidden;
}
.select2 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 314px;
    font-size: 15px;
    top: 195px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select3 { 
    width: 128px;
    height: 31px;
    position: absolute;
    left: 477px;
    font-size: 15px;
    top: 195px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select4 { 
    width: 139px;
    height: 31px;
    position: absolute;
    left: 147px;
    font-size: 15px;
    top: 300px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;


}
.select5 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 346px;
    font-size: 15px;
    top: 300px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select6 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 522px;
    font-size: 15px;
    top: 300px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;

}
.select7 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 163px;
    font-size: 15px;
    top: 407px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select8 { 
    width: 139px;
    height: 31px;
    position: absolute;
    left: 328px;
    font-size: 15px;
    top: 407px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select9 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 522px;
    font-size: 15px;
    top: 407px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select10 { 
    width: 113px;
    height: 31px;
    position: absolute;
    left: 146px;
    font-size: 15px;
    top: 551px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;

}
.select11 { 
    width: 165px;
    height: 31px;
    position: absolute;
    left: 321px;
    font-size: 15px;
    top: 551px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
.select12 { 
    width: 141px;
    height: 31px;
    position: absolute;
    left: 544px;
    font-size: 15px;
    top: 551px;
    border-radius: 15px;
    outline: none;
    text-align: center !important;
}
h3{
    font-family: 'Nunito', sans-serif !important;
    font-size: 30px;
    position: absolute;
    left: 214px;
    top: 82px;
    color: rgb(231, 104, 20) !important;
    font-weight: bolder;
}
h4{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 450px;
    top: 87px;
    color: #1b1e21;
    font-weight: bolder;
}

#answer1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    position: absolute;
    left: 335px;
    top: 150px;
    color: #1b1e21;
    text-align: center;
}

#answer2 {
    font-family: Helvetica;
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 200px;
    color: #1b1e21;
}
#allDone {
    font-family: times;
    font-size: 40px;
    position: absolute;
    left: 221px;
    top: 71px;
    color: #f13a8c;
}
#correct {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 200px;
    color: #1b1e21;
}

#incorrect {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 250px;
    color: #1b1e21;
}
#missed {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    left: 276px;
    top: 300px;
    color: #1b1e21;
}
#total{
    font-family: Helvetica;
    font-size: 30px;
    position: absolute;
    left: 276px;
    top: 370px;
    color: #1b1e21;
}

#toggle1 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 7px;
    bottom: -147px;
    left: 22px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none;
    align-content: center;
}
#toggle2 {
    width: 753px;
    height: 579px;
    position: relative;
    background-color: #c3faba;
    top: 11px;
    left: 12px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}

#toggle3 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 7px;
    left: 25px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
    border-radius: 20px;
}
#toggle4 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 6px;
    left: 25px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
    border-radius: 20px;
}
#toggle5 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 11px;
    left: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle6 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 7px;
    left: 22px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle7 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 8px;
    left: 41px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
#toggle8 {
    width: 725px;
    height: 580px;
    position: relative;
    background-color: #c3faba;
    top: 4px;
    left: 44px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none; 
}
button {
    /* display: inline-flex; */
    background-color:#2908f99e;
    color: #ffffff;
    border-radius: 20px;
    outline: none; 
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold;
    text-align: center !important;
}
img{
    position: relative;
    left: 31px;
    top: 55px;
    border-radius: 10px;
}
.Score {
    width: 165px;
    height: 55px;
    position: absolute;
    left: 46px;
    font-size: 25px;
    font-weight: bold;
    top: 604px;
    text-decoration: none;
    font-family: times;
    border-radius: 50px;
    outline: none
}

.Score:hover{
    background-color: rgb(247, 197, 137)
}
#toggle9 {
    width: 800px;
    height: 670px;
    position: absolute;
    background-color: #c3faba;
    top: 73px;
    bottom: 20px;
    text-align: center;
    font-family: times;
    font-size: 30px;
    font-weight: bold;
    display: none;